<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knitechs.www.medapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainForm"
            android:label="@string/title_activity_main_form" >
        </activity>
        <activity
            android:name=".MedicalRecordEntry"
            android:label="@string/title_activity_medical_record_entry" >
        </activity>
        <activity
            android:name=".PatientDetails"
            android:label="@string/title_activity_patient_details" >
        </activity>
        <activity
            android:name=".PatientActivity"
            android:label="@string/title_activity_patient" >
        </activity>
        <activity
            android:name=".PatientMedicalHistory"
            android:label="@string/title_activity_patient_medical_history" >
        </activity>
        <activity
            android:name=".SprederationList"
            android:label="@string/title_activity_sprederation_list" >
        </activity>
    </application>

</manifest>
